@import "_bourbon";
@import "_neat";

*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  box-sizing: border-box;
  vertical-align: top;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: 0;
}

input {
  border-radius: 0;
}

html, body {
  font-size: 14px;
  user-select: none;
  height: 100%;
}


body {
  margin: 0px;
  padding: 0px;
  min-width: 320px;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.8);
  font-smoothing: antialiased;
}

